:host(.button) {
  /* button reset */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  cursor: pointer;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  transition: all 200ms;

  border-radius: 9999px;
  padding: 5px 15px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:host(.button.block) {
  display: flex;
  width: 100%;
}

:host(.not-allowed) {
  cursor: not-allowed;
}

:host(.button:active), :host(.button:focus) {
  outline: none;
}

/* primary color */ 
:host(.color-primary) {
  color: #ffffff;
  background: #2268FF;
}

:host(.color-primary:hover) {
  background: #4C85FF;
}

:host(.color-primary:focus), :host(.color-primary:active) {
  background: #0A57FB;
}

:host(.color-primary.disabled) {
  background: rgba(35, 104, 255, 0.4)
}

/* success color */ 
:host(.color-success) {
  color: #ffffff;
  background: #16D563;
}

:host(.color-success:hover) {
  background: #3ADF7D;
}

:host(.color-success:focus), :host(.color-success:active) {
  background: #00BF4D;
}

:host(.color-success.disabled) {
  background: rgb(198, 238, 214);
}

/* danger color */ 
:host(.color-danger) {
  color: #ffffff;
  background: #FF7D09;
}

:host(.color-danger:hover) {
  background: #FF9638;
}

:host(.color-danger:focus), :host(.color-danger:active) {
  background: #FF7800;
}

:host(.color-danger.disabled) {
  background: rgb(255, 218, 190);
}